@font-face {
    font-family: "Medodica";
    src:
        local("Medodica"),
        url("../fonts/medodica.regular.otf") format("opentype");
}

@font-face {
    font-family: "VT323";
    src:
        local("VT323"),
        url("../fonts/VT323-Regular.ttf") format("truetype");
}

body {
    font-family: "VT323";
    font-smooth: never;
    -webkit-font-smoothing : none;

    --primary-color: 255, 255, 255;
    --secondary-color: 248, 119, 233;

    background: repeat-x local url("../img/mountains_background.png");
    background-size: auto 100%;
    image-rendering: pixelated;

    min-height: 100vh;
    height: 100%;

    margin: 0;
}

.main-container {
    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: calc(90vh - 2rem);
}

.main-container h1 {
    font-size: 15vw;
    color: rgb(var(--primary-color));
    text-align: center;

    margin-top: 5vh;
    margin-bottom: 5vh;

    text-shadow: rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em, rgb(var(--secondary-color)) 0 0 0.1em;
    font-weight: 100;
}

.description-container {
    font-size: 2em;
    width: 100vh
}

.long-description-container {
    font-size: 1.5em;
    width: 95%;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    height: 10vh;

    background-color: rgb(var(--secondary-color));
    filter: drop-shadow(0 0.5em 0.5em rgb(var(--secondary-color)));
}

.header .logo {
    height: 7vh;
    margin-left: 1em;
}

.header .logo img {
    height: 100%;
}

.header .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menu li {
    margin: 0 1em;
}

.header a {
    color: rgb(var(--primary-color));
    text-decoration: none;
    font-size: 1.5em;
}

.header a:hover {
    filter: drop-shadow(0 0 0.1em rgb(var(--primary-color)));
}

.play-button {
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    font-family: "VT323";
    font-size: 1.5em;
    color: black;
    background-color: rgb(var(--primary-color));
    /* add curved border */
    border-radius: 0.5em;
    border-color: rgb(var(--secondary-color));
    border-width: 0.15em;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    filter: drop-shadow(0 0 0.5em rgb(var(--secondary-color)));
}